* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --black: #020202ff;
  --aquamarine: #0fffa8ff;
  --white: #fcfbfdff;
  --dartmouth-green: #016233ff;
  --white-2: #fcfcfcff;
  --mimi-pink: #ffdafcff;
}

.noUnderline {
  text-decoration: none;
}